@mixin navItem {
    align-self: center;
    padding-left: 20px;
}

header {
    position: relative;
}

.nav-bar {

    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    // box-sizing: border-box;
    width: 100vw;
    height: 56px;
    background-color: $black-light;
    display: flex;
    justify-content: space-between;
    padding: 0 36px 0 16px;

    & > * {
        align-self: center;
    }

    .fa {
        color: white;
    }

    .left {
        display: flex;
        > * {
            @include navItem;
        }
        a {
            height: 20px;
            > img {
                display: inline-block;
                height: 20px;
            }
        }
    }
    .search {
        > * {
            display: inline-block;
            float: left;
            clear: none;
        }
        input {
            padding: 2px 6px 2px 8px;
            background-color: $black-dark;
            border: 1px solid $gray-primary;
            width: 562px;
            height: 32px;
            color: white;
            &:focus {
                border: 1px solid rgb(21, 98, 146);
            }
        }
        button {
            padding: none;
            border: none;
            background-color: $gray-primary;
            width: 64px;
            height: 32px;
            .fa-search {
                color: $gray-light;
            }
        }
    }
    .right {
        > * {
            @include navItem;
        }
    }

}