// Colors

$black-primary: #1F1F1F;
$black-light: #272727;
$black-dark: #121212;

$gray-primary: #383838;
$gray-light: rgb(129, 129, 129);
$gray-lighter: rgb(144,144,144);

$test-bkg-red: rgba(255, 0, 0, 0.25);
$test-bkg-green: rgba(0, 255, 0, 0.25);
$test-bkg-blue: rgba(0, 0, 255, 0.25);